:root {
  --btn-font-size: 18px;
  --btn-padding-x: 24px;
  --btn-padding-y: 12px;
  --btn-radius: 10rem;
}

.btn {
  cursor: pointer;
  font-family: var(--font-secondary);
  font-weight: 400;
  text-decoration: none;
  line-height: 1.2;
  letter-spacing: 0.32px;
  @include fontSmooth;
  transition: all 0.2s ease;
  will-change: transform;

  &:hover {
    box-shadow: var(--shadow-sm);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-contrast-higher), 0.15);
    outline: none;
  }

  &:active {
    transform: translateY(2px);
  }
}

// themes
.btn--primary {
  background: var(--color-primary);
  color: var(--color-secondary-darker);
  font-weight: 500;

  &:hover {
    background: var(--color-primary-dark);
    box-shadow: 0px 2px 8px  alpha(var(--color-secondary), 0.2);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-primary), 0.2);
  }
}

.btn--subtle {
  background: var(--color-bg);
  color: var(--color-secondary-darker);
  border: 1px solid var(--color-contrast-lower);
  font-family: var(--font-secondary);
  font-weight: 500;

  &:hover {
    box-shadow: var(--shadow-xs);
  }
}

.btn--accent {
  background: var(--color-accent-light);
  color: var(--color-white);

  &:hover {
    background: var(--color-accent-dark);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px alpha(var(--color-accent), 0.2);
  }
}

// feedback
.btn--disabled, .btn[disabled], .btn[readonly] {
  opacity: 0.6;
  cursor: not-allowed;
}

// size
.btn--sm {
  font-size: 0.8em;
}

.btn--md {
  padding: 1rem var(--space-lg);
  font-size: 21px;
}

.btn--lg {
  padding: var(--space-xs) var(--space-md);
  font-size: 30px;
}