:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 50, 98%, 28%);
  @include defineColorHSL(--color-primary-dark, 50, 98%, 38%);
  @include defineColorHSL(--color-primary, 50, 98%, 48%);
  @include defineColorHSL(--color-primary-light, 50, 98%, 58%);
  @include defineColorHSL(--color-primary-lighter, 50, 98%, 68%);

  @include defineColorHSL(--color-accent-darker, 316, 100%, 5%);
  @include defineColorHSL(--color-accent-dark, 316, 100%, 15%);
  @include defineColorHSL(--color-accent, 316, 100%, 25%);
  @include defineColorHSL(--color-accent-light, 316, 100%, 35%);
  @include defineColorHSL(--color-accent-lighter, 316, 100%, 45%);

  @include defineColorHSL(--color-secondary-darker, 198, 37%, 5%);
  @include defineColorHSL(--color-secondary-dark, 198, 37%, 15%);
  @include defineColorHSL(--color-secondary, 198, 37%, 25%);
  @include defineColorHSL(--color-secondary-light, 198, 37%, 35%);
  @include defineColorHSL(--color-secondary-lighter, 198, 37%, 45%);

  @include defineColorHSL(--color-tertiary-darker, 179, 58%, 50%);
  @include defineColorHSL(--color-tertiary-dark, 179, 58%, 60%);
  @include defineColorHSL(--color-tertiary, 179, 58%, 70%);
  @include defineColorHSL(--color-tertiary-light, 179, 58%, 80%);
  @include defineColorHSL(--color-tertiary-lighter, 179, 58%, 90%);

  @include defineColorHSL(--color-quaternary-darker, 42, 59%, 72%);
  @include defineColorHSL(--color-quaternary-dark, 42, 59%, 82%);
  @include defineColorHSL(--color-quaternary, 42, 59%, 92%);
  @include defineColorHSL(--color-quaternary-light, 42, 59%, 96%);
  @include defineColorHSL(--color-quaternary-lighter, 42, 59%, 100%);

  @include defineColorHSL(--color-black, 240, 8%, 12%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
  @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
  @include defineColorHSL(--color-success, 94, 48%, 56%);
  @include defineColorHSL(--color-success-light, 94, 48%, 65%);
  @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

  @include defineColorHSL(--color-error-darker, 349, 75%, 36%);
  @include defineColorHSL(--color-error-dark, 349, 75%, 44%);
  @include defineColorHSL(--color-error, 349, 75%, 51%);
  @include defineColorHSL(--color-error-light, 349, 75%, 59%);
  @include defineColorHSL(--color-error-lighter, 349, 75%, 67%);

  // background
  @include defineColorHSL(--color-bg-darker, 40, 23%, 82%);
  @include defineColorHSL(--color-bg-dark, 42, 32%, 86%);
  @include defineColorHSL(--color-bg, 41, 61%, 92%);
  @include defineColorHSL(--color-bg-light, 42, 32%, 98%);
  @include defineColorHSL(--color-bg-lighter, 40, 23%, 100%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 42, 17%, 77%);
  @include defineColorHSL(--color-contrast-low, 45, 6%, 58%);
  @include defineColorHSL(--color-contrast-medium, 50, 3%, 42%);
  @include defineColorHSL(--color-contrast-high, 150, 2%, 19%);
  @include defineColorHSL(--color-contrast-higher, 193, 36%, 5%);
}

// background color
.bg-secondary-darker { background-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.bg-secondary-dark { background-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.bg-secondary { background-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.bg-secondary-light { background-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.bg-secondary-lighter { background-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }
.bg-tertiary-darker { background-color: alpha(var(--color-tertiary-darker), var(--bg-o, 1)); }
.bg-tertiary-dark { background-color: alpha(var(--color-tertiary-dark), var(--bg-o, 1)); }
.bg-tertiary { background-color: alpha(var(--color-tertiary), var(--bg-o, 1)); }
.bg-tertiary-light { background-color: alpha(var(--color-tertiary-light), var(--bg-o, 1)); }
.bg-tertiary-lighter { background-color: alpha(var(--color-tertiary-lighter), var(--bg-o, 1)); }
.bg-quaternary-darker { background-color: alpha(var(--color-quaternary-darker), var(--bg-o, 1)); }
.bg-quaternary-dark { background-color: alpha(var(--color-quaternary-dark), var(--bg-o, 1)); }
.bg-quaternary { background-color: alpha(var(--color-quaternary), var(--bg-o, 1)); }
.bg-quaternary-light { background-color: alpha(var(--color-quaternary-light), var(--bg-o, 1)); }
.bg-quaternary-lighter { background-color: alpha(var(--color-quaternary-lighter), var(--bg-o, 1)); }

// border color
.border-secondary-darker { border-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.border-secondary-dark { border-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.border-secondary { border-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.border-secondary-light { border-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.border-secondary-lighter { border-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }
.border-tertiary-darker { border-color: alpha(var(--color-tertiary-darker), var(--bg-o, 1)); }
.border-tertiary-dark { border-color: alpha(var(--color-tertiary-dark), var(--bg-o, 1)); }
.border-tertiary { border-color: alpha(var(--color-tertiary), var(--bg-o, 1)); }
.border-tertiary-light { border-color: alpha(var(--color-tertiary-light), var(--bg-o, 1)); }
.border-tertiary-lighter { border-color: alpha(var(--color-tertiary-lighter), var(--bg-o, 1)); }
.border-quaternary-darker { border-color: alpha(var(--color-quaternary-darker), var(--bg-o, 1)); }
.border-quaternary-dark { border-color: alpha(var(--color-quaternary-dark), var(--bg-o, 1)); }
.border-quaternary { border-color: alpha(var(--color-quaternary), var(--bg-o, 1)); }
.border-quaternary-light { border-color: alpha(var(--color-quaternary-light), var(--bg-o, 1)); }
.border-quaternary-lighter { border-color: alpha(var(--color-quaternary-lighter), var(--bg-o, 1)); }