@font-face {
  font-family: 'STIX Two Text';
  src: url('../STIXTwoText-Bold.eot');
  src: url('../STIXTwoText-Bold.eot?#iefix') format('embedded-opentype'),
  url('../STIXTwoText-Bold.woff2') format('woff2'),
  url('../STIXTwoText-Bold.woff') format('woff'),
  url('../STIXTwoText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  // font family
  --font-primary: 'STIX Two Text', serif;

  // font size
  --text-base-size: 1em; // body font-size
  --text-scale-ratio: 1.2; // multiplier used to generate the type scale values 👇

  // line-height
  --body-line-height: 1.5;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Em to Rem units)
  --text-unit: 1em; // if not Em units → --text-unit: var(--text-base-size);
}

:root, * {
  // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

@supports (--css: variables) {
  @include breakpoint(md) {
    :root {
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25;
    }
  }
}

body {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 700;
}

// font family
.font-primary {
  font-family: var(--font-primary);
}

// color
.color-secondary-darker {
  color: alpha(var(--color-secondary-darker), var(--color-o, 1));
}

.color-secondary-dark {
  color: alpha(var(--color-secondary-dark), var(--color-o, 1));
}

.color-secondary {
  color: alpha(var(--color-secondary), var(--color-o, 1));
}

.color-secondary-light {
  color: alpha(var(--color-secondary-light), var(--color-o, 1));
}

.color-secondary-lighter {
  color: alpha(var(--color-secondary-lighter), var(--color-o, 1));
}

.color-tertiary-darker {
  color: alpha(var(--color-tertiary-darker), var(--color-o, 1));
}

.color-tertiary-dark {
  color: alpha(var(--color-tertiary-dark), var(--color-o, 1));
}

.color-tertiary {
  color: alpha(var(--color-tertiary), var(--color-o, 1));
}

.color-tertiary-light {
  color: alpha(var(--color-tertiary-light), var(--color-o, 1));
}

.color-tertiary-lighter {
  color: alpha(var(--color-tertiary-lighter), var(--color-o, 1));
}
