@use '../base' as *;

/* -------------------------------- 

File#: _1_stories
Title: Stories
Descr: A collection of related article tasters
Usage: codyhouse.co/license

-------------------------------- */

.stories {
  position: sticky;
  top: 96px;
  background-color: alpha(var(--color-contrast-lower), 0.3);
  padding: var(--component-padding);
  border-radius: var(--radius-lg);

  @include breakpoint(md) {
    --text-unit: 1em; /* use Em units */
    font-size: var(--text-sm); /* reduce font size of all text elements */
    padding: var(--space-sm);
  }
}

.stories__legend {
  font-size: 1em;
  margin-bottom: var(--space-md);
  color: var(--color-contrast-medium);
}

.stories__story {
  display: flex;

  &:not(:last-child) {
    margin-bottom: var(--space-sm);
    padding-bottom: var(--space-sm);
    border-bottom: 1px solid var(--color-contrast-lower);
  }
}

.stories__img-wrapper {
  display: block;
  width: 3.6em;
  height: 3.6em;
  border-radius: var(--radius-md);
  overflow: hidden;
  flex-shrink: 0;
  transition: opacity .2s;
  margin-right: var(--space-xs);

  figure, img {
    width: inherit;
    height: inherit;
  }

  img {
    display: block;
    object-fit: cover;
  }

  &:hover {
    opacity: 0.85;
  }
}

.stories__text {
  margin-top: var(--space-xxxs);
}

.stories__headline {
  font-size: var(--text-md);
}

.stories__metadata {
  color: var(--color-contrast-medium);
  font-size: var(--text-sm);
  text-transform: uppercase;
}

.stories__headline a,
.stories__metadata a {
  color: var(--color-contrast-higher);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.stories__separator {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: var(--color-contrast-low);
  border-radius: 50%;
  margin: 0 var(--space-xxxs);
}