/* -------------------------------- 

File#: _2_alert-message
Title: Alert Message
Descr: An alert message displayed in a modal window
Usage: codyhouse.co/license

-------------------------------- */
.alert-msg {
  --modal-transition-duration: .2s;
}

.alert-msg__close-btn {
  display: inline-flex;
  align-items: center;
  background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: var(--space-xxs) var(--space-sm);
  color: var(--color-bg);
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.2s;
}
.alert-msg__close-btn:hover {
  background-color: hsla(var(--color-contrast-higher-h), var(--color-contrast-higher-s), var(--color-contrast-higher-l), 1);
}