/* -------------------------------- 

File#: _2_diagonal-animated-divider
Title: Diagonal Animated Divider
Descr: A diagonal section divider that animates on scroll
Usage: codyhouse.co/license

-------------------------------- */