@use '../base' as *;
@use '_1_breadcrumbs.scss' as *;
@use '_1_rating.scss' as *;
@use '_1_number-input.scss' as *;

/* -------------------------------- 

File#: _2_product-v3
Title: Product v3
Descr: Product info section with CTA
Usage: codyhouse.co/license

-------------------------------- */

.product-v3__panel {
  position: sticky;
  top: var(--space-md);
}

.product-v3__cta-clone { // CTA clone visible on smaller screens
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--space-sm) var(--space-md);
  background-color: alpha(var(--color-bg), 0.9);
  backdrop-filter: blur(5px);
  box-shadow: var(--shadow-lg);
  z-index: var(--z-index-fixed-element, 10); 
  transform: translateY(100%);
  visibility: hidden;
  transition: transform .3s, visibility 0s 0.3s;
}

.product-v3__cta-clone--is-visible {
  transform: translateY(0);
  visibility: visible;
  transition: transform .3s;
}