/* -------------------------------- 

File#: _3_products-gallery-v2
Title: Products Gallery v2
Descr: A gallery of product cards
Usage: codyhouse.co/license

-------------------------------- */

.products-gallery-v2 {}