@use '../base' as *;
@use '_2_slideshow.scss' as *;

/* -------------------------------- 

File#: _3_thumbnail-slideshow
Title: Thumbnail Slideshow
Descr: Show a collection of items one at a time with additional preview images for easier selection
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --thumbslide-thumbnail-auto-size: 100px; // min-width value -> used in JS to auto update the thumbnails width
  --thumbslide-thumbnail-grid-gap: var(--space-xs); // gap among thumbnails
}

// optional -> overwrite slideshow height at different breakpoints
.thumbslide {
  // --slideshow-height: 280px; // slideshow height - inherited from Slideshow component

  @include breakpoint(md) {
    // --slideshow-height: 400px;
  }

  @include breakpoint(lg) {
     // --slideshow-height: 480px;
  }
}

.js .thumbslide .slideshow {
  --slideshow-fade-transition-duration: 0.3s; // fade effect transition duration
  --slideshow-slide-transition-duration: 0.3s; // slide effect transition duration;
}

html:not(.js) .thumbslide__nav-wrapper { // if JavaScript is disabled, hide thumbnails
  display: none;
}

.thumbslide__nav {
  display: flex;
  overflow: hidden;
  padding: var(--thumbslide-thumbnail-grid-gap) 0;
  position: relative;

  &::after, &::before { // shadow on the side of the thumbs list - if there are enough items to scroll
    content: '';
    position: absolute;
    z-index: 2;
    height: 80%;
    width: 0;
    top: 10%;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    transition: opacity .2s;
    opacity: 0;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.thumbslide__nav--scroll-end::after { // show right shadow
  opacity: 1;
}

.thumbslide__nav--scroll-start::before { // show left shadow
  opacity: 1;
}

.thumbslide__nav-list { 
  position: relative;
  z-index: 1;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  will-change: transform;
  transition: transform 0.5s;

  &:hover .thumbslide__nav-item { // reduce opacity of not selected thumbs on hover
    opacity: 0.6;
  }
}

.thumbslide__nav-list--dragging { // change cursor while dragging the thumbnails list
  cursor: grabbing;
}

.thumbslide__nav-list--no-transition { // class added in JS during dragging
  transition: none;
}

.thumbslide__nav-item {
  float: left; // flexbox fallback
  flex-shrink: 0;
  width: var(--thumbslide-thumbnail-auto-size); // this is the min-width value that will be used in js to update the thumb items width
  margin-right: var(--thumbslide-thumbnail-grid-gap);
  transition: opacity 0.3s, transform 0.3s;
  will-change: transform, opacity;
  backface-visibility: hidden;
  user-select: none; // enable drag 

  img {
    display: block;
    pointer-events: none; // enable drag
  }

  &:hover {
    opacity: 1 !important;
  }
}

.thumbslide__nav-item--active { // selected thumb
  position: relative;
  opacity: 1 !important;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: alpha(var(--color-black), 0.7) url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg stroke-width='1.5' stroke='%23ffffff'%3E%3Cpolyline fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='1,9 5,13 15,3 ' %3E%3C/polyline%3E%3C/g%3E%3C/svg%3E") no-repeat center center;
    background-size: 1.25em;
    backdrop-filter: blur(5px);
  }
}

.thumbslide__caption {
  background-color: alpha(var(--color-bg), 0.85);
  padding: var(--component-padding);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

// --top
.thumbslide--top {
  display: flex;
  flex-direction: column;

  .slideshow { // invert order of slideshow/thumbnails
    order: 1;
  }
}

// --right/--left
.thumbslide--vertical {
  display: flex;

  @include breakpoint(sm, 'not all') { // on small devices only, reduce thumbnails size
    --thumbslide-thumbnail-auto-size: 50px;
  }
}

.thumbslide--vertical .slideshow {
  display: inline-block; // flex fallback
  flex-grow: 1;
}

.thumbslide--vertical .thumbslide__nav-wrapper {
  float: right; // flex fallback
  width: var(--thumbslide-thumbnail-auto-size);
  flex-shrink: 0;
}

.thumbslide--vertical .thumbslide__nav {
  padding: 0 var(--thumbslide-thumbnail-grid-gap);
  width: 100%;
  height: 100%;

  &::after, &::before { // reset shadow position/dimensions
    width: 80%;
    height: 0;
    left: 10%;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: auto;
    bottom: 0;
  }
}

.thumbslide--vertical .thumbslide__nav-list {
  flex-direction: column;
  position: absolute;
  top: 0;
}

.thumbslide--vertical .thumbslide__nav-item {
  margin-right: 0;
  margin-bottom: var(--thumbslide-thumbnail-grid-gap);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// --right
.thumbslide--left .slideshow {
  order: 1;
}